@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

}

@layer components {
    /*------ Scrollbar ------*/
    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #666668 #242526;
 }
  .scrollbar::-webkit-scrollbar {
      width: 11px;
 }
  .scrollbar::-webkit-scrollbar-track {
    background-color: #242526;
      -webkit-border-radius: 6px;
      border-radius: 6px;
 }
  .scrollbar::-webkit-scrollbar-thumb {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-color: transparent; /* e3e6ee */
      border: 3px solid ;
      border-color: #242526;
 }
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #666668;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #adadad
  }

}

@layer utilities {
  
}

